/*main*/
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }
  
  /*alignments*/
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .center_content {
    margin: auto;
    width: 70rem;
  }
  
  /*scalling*/
  .logo_size1 {
    width: 8rem;
  }
  
  /*display*/
  .disp_inline {
    display: inline;
    position: absolute;
  }
  
  /*text/font styling*/
  .italic {
    font-style: italic;
  }
  
  /*jumbotron*/
  #jumbo1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      135deg,
      rgba(2, 0, 36, 1) 0%,
      rgb(34, 34, 34) 35%,
      rgb(0, 0, 0) 100%
    );
  }
  
  #jumbo1_content1 {
    color: white;
  }
  
  /*containers*/
  .container_size100 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .container_size1 {
    height: 500px;
    position: relative;
  }
  
  /*container main coloring*/
  .container_color1 {
    background-color: rgb(236, 236, 236);
    color: rgb(43, 43, 43);
  }
  
  .container_color2 {
    background-color: rgb(43, 43, 43);
    color: rgb(236, 236, 236);
  }
  
  @media (max-width: 767px) {
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 0.6rem;
    }
    .logo_size1 {
      width: 5rem;
    }
  }